/* .card{
    border: none;
    width: 500px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,hsla(205, 46%, 30%, 1) 0%,hsla(205, 46%, 30%, 1) 100%);
} */

#center {
    width: 430px;
    margin: 130px auto;
    position: relative;
    padding-top: 0px;
}

#center .header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding: 25px 0 30px 25px;
    background: #0E2E47;
    border-bottom: 1px solid #0E2E47;
    border-radius: 5px 5px 0 0;
}

#center form {
    position: relative;
    background: white;
    width: 100%;
    padding: 50px 10px 0 30px;
    box-sizing: border-box;
    border: 1px solid #0E2E47;
    border-radius: 0 0 5px 5px;
}

form input {
    height: 50px;
    width: 90%;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid silver;
    font-size: 18px;
    outline: none;
}

form input[type="password"] {
    margin-top: 20px;
}

form i {
    position: absolute;
    font-size: 25px;
    color: grey;
    margin: 15px 0 0 -45px;
}

i.fa-lock {
    margin-top: 35px;
}

#pass {
    margin-top: 35px;
}

form input[type="submit"] {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 130px;
    height: 45px;
    color: white;
    cursor: pointer;
    line-height: 45px;
    border-radius: 45px;
    border-radius: 5px;
    background: #0E2E47;
}

form input[type="submit"]:hover {
    background: #0E2E47;
    transition: .5s;
}

form a {
    text-decoration: none;
    font-size: 18px;
    color: #0E2E47;
    padding: 0 0 0 20px;
}